body 
{
	background-color:#b0c4de;
}

.canvas
{
	border-style:solid;
	border-width:2px;
	background-color: #ffffff;
}

.header {
    height: 60px;
    background-color: red;
}

.mainBody {
    background-color: yellow;
    position: absolute;
    top: 60px;
    bottom: 30px;
}

.content {
    color:#fff;
}

.footer {
    height: 30px;
    position: absolute;
    bottom: 0;
    width:100%;
}